.App {
    display: flex;
}

.preloader {
    height: 100px;
    width: 100px;
}

.todoList {
    width: 300px;
}

.todoList > div {
  padding: 10px;
}

.todoListHeader {
    font-weight: bold;
}

.todoList-task {

}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: blue;
}

.todoList-footer {
  display: flex;
}

.butn {
  display: flex;
}

.error {
  border-color: red;
}

